.about {
  min-height: 100vh;
  @media screen and (max-width: 425px) {
    padding-right: 25px;
  }
  .skills {
    width: $section-content-width;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media screen and (max-width: 425px) {
      gap: 5px;
      width: 90%;
    }
    .skill {
      color: $white;
      background: darken($primary, 10);
      font-weight: 700;
      padding: 5px 8px;
      font-size: 13px;
      border-radius: 5px;
      box-shadow: $default-shadow;
      user-select: none;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      @media screen and (max-width: 425px) {
        font-weight: 600;
        font-size: 12px;
      }

      &:hover {
        color: $primary;
        background: $white;
        box-shadow: $green-glow;
      }
    }
  }
}
