.bg {
  user-select: none;
  .overlay {
    z-index: -1;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: $glass-black;
    backdrop-filter: $glass-blur;
    opacity: 0;
    clip-path: polygon(
      0 0,
      35% 0,
      100% 100%,
      100% 0,
      65% 0,
      100% 40%,
      100% 100%,
      0 100%
    );
    @media screen and (max-width: $screen-sm) {
      clip-path: polygon(
        0 0,
        0 28%,
        100% 68%,
        100% 0,
        0 0,
        100% 40%,
        100% 100%,
        0 100%
      );
      height: calc(100vh + 60px);
    }
  }
  .blob {
    z-index: -1;
    position: fixed;
    opacity: 0;
    transform: translateY(80px);

    img {
      width: 100%;
      height: 100%;
    }

    &-purple {
      width: 450px;
      left: 0;
      bottom: 0;
      @media screen and (max-width: $screen-sm) {
        width: 250px;
        left: -40px;
        bottom: 20px;
      }
    }
    &-orange {
      width: 300px;
      left: 40%;
      bottom: -150px;
      @media screen and (max-width: $screen-sm) {
        width: 250px;
        left: unset;
        right: -40px;
        bottom: -100px;
      }
    }
  }
}
