.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: calc($sidebar-left * 2) 0;
  @media screen and (max-width: $screen-sm) {
    padding: calc($sidebar-left * 2.5) 0;
  }
  position: relative;
  overflow: hidden;
  .bg {
    .bg-img {
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(50px);
      height: 100vh;
      width: 60%;
      object-fit: cover;
      z-index: -2;
      
      @media screen and (max-width: $screen-sm) {
        transform: translateY(-50%) translateX(50px);
        height: 100vh;
        width: 100%;
      }
    }
  }
  .type-writer,
  h1,
  h2 {
    z-index: 20;
  }

  .type-writer {
    margin-bottom: 100px;
    @media screen and (max-width: $screen-sm) {
      margin-bottom: 60px;
    }
  }

  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1;
    opacity: 0;
    transform: translateX(-100px);
    @media screen and (max-width: $screen-sm) {
      font-size: 50px;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(-40px);
    @media screen and (max-width: $screen-sm) {
      font-weight: 400;
      font-size: 20px;
    }
  }
}
