.footer {
  background-color: $glass-black-deep;
  backdrop-filter: $default-blur;
  z-index: 100;
  font-weight: 600;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  p {
    margin: 0 auto;
    text-align: center;
    width: max-content;
    @media screen and (max-width: 425px) {
      font-size: 12px;
    }
  }
}
